html {

}

body {
  width: 80%;
  margin: 0 auto;
  background-color: green;
  font-size: 16px;
}

header {
  color: white;
  margin-bottom: 5%;
}

img {
  width: 125px;
  height: 125px;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
}

.hole {
  margin: 0 4%;
  background-size: contain;
}

.row {
  display: flex;
}
