<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Jokes</title>
    <link type="stylesheet" href="jokes.css">
  </head>
  <body>
    <section>
      <p>Enter your joke and punch line in the fields below.</p>
    </section>
    <form action="submit.html" method="post">
      <input type="text" id="setup" placeholder="Enter your joke">
      <input type="text" id="punchline" placeholder="Enter the punch line">
      <input type="submit">
    </form>
    <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="jokes.js"></script>
  </body>
</html>
