{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>All a Flutter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'flutter/style.css' %}">
  </head>
  <div class="container">
    <body>
      <h1><a href="{% url 'index' %}">Flutting around</a></h1>
      <h2></h2>

      <form action="{% url 'post_submit' %}" method="post" class="flutt-submit">
        {% csrf_token %}
        <label class="flutt-user">What's your name? <input type="text" name="user_name" class="form-user"></label>
        <label class="flutt-text">Flutt: <textarea type="text-box" name="text" class="form-flutt"></textarea>
        <input type="submit" class="form-submit">
      </form>

      <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
      <script src="{% static 'flutter/flutter.js' %}"></script>
    </body>
  </div>
</html>
