{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>All a Flutter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'flutter/style.css' %}">
  </head>
  <div class="container">
    <body>

      <h1><a href="{% url 'index' %}">Flutt yo stuff</a></h1>
      <h2><a href="{% url 'post' %}">Post another flutt</a></h2>

      <section>
        <h1>Recent Flutts from {{ user_name }}</h1>
        {% for flutt in flutt_list %}
        <div class="flutt">
          <h2>{{ flutt.text }}</h2>
          <p>@<a href="{% url 'user' flutt.user_name %}">{{ flutt.user_name }}</a></p>
        </div>
        {% endfor %}
      </section>

      <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
      <script src="{% static 'flutter/flutter.js' %}"></script>
    </body>
  </div>
</html>
