a {
  text-decoration: none;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.flutt {
  border: solid 1px black;
  margin: 20px;
  padding: 5px 40px;
}

.post-link {
  border: solid 1px black;
  padding: 5px 30px;
}

.flutt-text {
  display: flex;
  align-items: center;
  width: 40%
}

.flutt-submit {
  display: flex;
  flex-direction: column;
}

.form-submit {
  width: 100px;
}
